/* -----------------------HEADER------------------------*/
.bg-light {
    background-color: transparent !important;
}
.navbar-brand {
    margin: auto;
    font-size: 2em;
}

.navbar-brand img {
    height: 70px;
}

body {
    background: rgb(215,250,236);
    background: -moz-linear-gradient(90deg, rgba(215,250,236,1) 18%, rgba(179,249,232,1) 49%, rgba(137,235,246,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(215,250,236,1) 18%, rgba(179,249,232,1) 49%, rgba(137,235,246,1) 100%);
    background: linear-gradient(90deg, rgba(215,250,236,1) 18%, rgba(179,249,232,1) 49%, rgba(137,235,246,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d7faec",endColorstr="#89ebf6",GradientType=1);
    width: 100%;
}

.main {
    margin: 2vh auto 0 auto;
}

.board {
    padding: 20px;
}

.table {
    width: 550px;
    border: 2px solid #575859;
}


.table td {
    padding: 10px;
}
table {
    table-layout: fixed;
}
tr:nth-child(3n) {
    border-bottom: 2px solid #575859;
}
td:nth-child(3n) {
    border-right: 2px solid #575859;
}
td {
    text-align: center;
    font-size: 25px;
    height: 60px;
    max-height: 60px;
    white-space: pre-wrap;
    cursor: text;
}
td span {
    transition: 1s ease-in;
    display: block;
}
td:hover {
    background-color: #88e0cb;
}
.wrap {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.buttons {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 550px;
    padding: 0;
}

.btn-outline-primary {
     margin: 0;
     color: #49a5f1;
     border: 1px solid #49a5f1;
}
.btn-outline-primary:hover {
    background-color: #49a5f1;
    border: 1px solid #49a5f1;

}

.btn-outline-secondary {

    display: block;
}

.numberButtons {
    width: 550px;
    display: none;
    flex-direction: row;
    margin: 0;
    justify-content: space-between;
    padding: 0 20px 0 20px;


}

footer .row {
    padding: 30px;
}

p.copy {
    color: darkgray;
    font-size: 0.8em;
}

[contenteditable] {
    outline: 0 solid transparent;
    caret: black;
    color: #1d90f0;

}


.wrongInput {

    color: #e88d84 !important;

}

.solvedNumbers {
    color: #1d90f0;
}

.mobileClick {
    outline: 1px solid #1d90f0;
    outline-offset: -2px;
}

p.difficulty {
    margin-top: -30px;
}


/* --------------------MEDIA QUERIES--------------------*/
@media only screen and (max-width: 600px) {
    .table {
        width: 100%;
        margin: 0;

        padding-top: 50%;
    }

    .table td {
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .buttons {
        width: 100%;
        padding: 0 20px;
    }

    .numberButtons {
        width: 100%;
    }

    td:hover {
        background-color: transparent;
    }

}
